<div class="form-place-large">
  <div class="form-background">
    <h2 class="form-title">{{title}}</h2>
    <div class="form-group">
      <form class="form" (submit)="submit()">
        <mat-form-field class="mat-form-field form-field">
          <mat-label>Name</mat-label>
          <input matInput [value]="model.name" (change)="model.name = $any($event.target).value">
        </mat-form-field>
        <mat-form-field class="mat-form-field form-field">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [value]="model.startDate">
            <input matEndDate placeholder="End date" [value]="model.endDate">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div class="form-button">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </form>
    </div>
    <div class="form-group">
    </div>
  </div>
</div>
