<h1>All faculties:</h1>
<table [dataSource]="tableData" mat-table class="mat-elevation-z7 table" matSort (matSortChange)="sortChanged($event)">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let i = index">{{i + 1 + (parameters.pageNumber - 1) * parameters.pageSize}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let faculty">{{faculty.name}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let faculty">
      <mat-button-toggle *ngIf="editEnabled" class="btn-info" (click)="edit(faculty.id)">Edit</mat-button-toggle>
      <span *ngIf="editEnabled"> | </span>
      <a class="btn-info btn-action" href="/departments/{{faculty.id}}">View departments</a>
      <span *ngIf="editEnabled"> | </span>
      <mat-button-toggle *ngIf="editEnabled" class="btn-danger" (click)="delete(faculty.id)">Delete</mat-button-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let _; columns: displayedColumns;"></tr>
</table>
<mat-paginator (page)="paginationInfoChanged($event)"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="parameters.pageNumber - 1" [pageSize]="parameters.pageSize"
               aria-label="Select page">
</mat-paginator>
