<div class="form-place">
  <div class="form-background">
    <h2 class="form-title">{{title}}</h2>
    <div class="form-group">
      <form class="form" (submit)="submit()">
        <mat-form-field class="mat-form-field form-field">
          <mat-label>First name</mat-label>
          <input matInput [value]="model.firstName" (change)="model.firstName = $any($event.target).value">
        </mat-form-field>
        <mat-form-field class="mat-form-field form-field">
          <mat-label>Last name</mat-label>
          <input matInput [value]="model.lastName" (change)="model.lastName = $any($event.target).value">
        </mat-form-field>
        <div class="form-button">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </form>
    </div>
    <div class="form-group">
    </div>
  </div>
</div>
