<h1>All courses:</h1>
<div *ngIf="editEnabled">
  <button (click)="createNew()" class="btn-success btn-action">Create new</button>
  <span *ngIf="editModel != null"> | </span>
  <button *ngIf="editModel != null" (click)="cancelEdit()" class="btn-danger btn-action">
    Cancel
  </button>
</div>
<br/>
<div *ngIf="editModel != null">
  <app-course-edit-form [title]="editFormTitle" [model]="editModel"
                            (onSubmit)="save($event)"></app-course-edit-form>
  <br/>
</div>
<div>
  <mat-form-field class="mat-form-field">
    <mat-label>Name</mat-label>
    <input matInput [value]="parameters.name" (input)="nameChanged($any($event.target).value)">
  </mat-form-field>
</div>
<table [dataSource]="tableData" mat-table class="mat-elevation-z7 table" matSort (matSortChange)="sortChanged($event)">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let i = index">{{i + 1 + (parameters.pageNumber - 1) * parameters.pageSize}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let course">{{course.name}}</td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Begin</th>
    <td mat-cell *matCellDef="let course">{{showDate(course.startDate)}}</td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
    <td mat-cell *matCellDef="let course">{{showDate(course.endDate)}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let course">
      <mat-button-toggle *ngIf="editEnabled" class="btn-info" (click)="edit(course.id)">Edit</mat-button-toggle>
      <span *ngIf="editEnabled"> | </span>
      <mat-button-toggle class="btn-info">
        <a style="color: #f0f0f0" href="/tasks/{{course.id}}">View tasks</a>
      </mat-button-toggle>
      <span *ngIf="editEnabled"> | </span>
      <mat-button-toggle *ngIf="editEnabled" class="btn-danger" (click)="delete(course.id)">
        Delete
      </mat-button-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let _; columns: displayedColumns;"></tr>
</table>
<mat-paginator (page)="paginationInfoChanged($event)"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="parameters.pageNumber - 1" [pageSize]="parameters.pageSize"
               aria-label="Select page">
</mat-paginator>
